body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 51px;
}

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 700;
}

h6 {
  font-size: 14px;
  color: #999;
}

code {
  font-family: 'Inconsolata', "Courier New", Courier, monospace;
  font-size: 13px;
}

pre {
  font-family: 'Inconsolata', "Courier New", Courier, monospace;
  font-size: 13px;
}

.background-success {
  background-image: linear-gradient(to bottom,#beedbe 0,#f5f5f5 100%);
}

.background-failure {
  background-image: linear-gradient(to bottom,#f2dede 0,#f5f5f5 100%);
}
